<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heliant.formservice.dao.FieldCompletedMapper">

    <resultMap type="FieldCompleted" id="fieldcompleted">
        <result property="id" column="id" />
        <result property="formCompletedId" column="formcompleted_id" />
        <result property="fieldId" column="field_id" />
        <result property="valueText" column="valueText" />
        <result property="valueNumber" column="valueNumber" />
        <result property="createdOn" column="createdOn" />
        <result property="modifiedOn" column="modifiedOn" />
    </resultMap>

    <select id="getAllFieldsCompleted" resultMap="fieldcompleted">
        select * from fieldscompleted;
    </select>

</mapper>