<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heliant.formservice.dao.FormMapper">

    <resultMap type="Form" id="form">
        <result property="id" column="id" />
        <result property="title" column="title" />
        <result property="createdOn" column="createdOn" />
        <result property="modifiedOn" column="modifiedOn" />
    </resultMap>

    <select id="getById" resultMap="form">
        select * from forms where id = #{formId};
    </select>

    <select id="getAllForms" resultMap="form">
        select * from forms;
    </select>

    <insert id="createForm">
        insert into forms
        values (
            #{id},
            #{title},
            #{createdOn},
            #{modifiedOn}
        )
    </insert>

    <update id="updateForm">
        update forms set
        title = #{title},
        createdOn = #{createdOn},
        modifiedOn = #{modifiedOn}
        where id = #{id}
    </update>

    <delete id = "deleteById" parameterType = "int">
        delete from forms where id = #{formId};
    </delete>

</mapper>