<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heliant.formservice.dao.UserMapper">

    <resultMap type="User" id="user">
        <result property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="createdOn" column="createdOn" />
        <result property="modifiedOn" column="modifiedOn" />
    </resultMap>

    <select id="findByUsername" resultMap="user">
        select * from users where username = #{username};
    </select>

</mapper>